.highlighted {
    background-color: rgba(255, 255, 0, 0.5); /* Semi-transparent yellow */
    pointer-events: none; /* Allow clicks to pass through */
    position: absolute; /* Positioning for absolute placement */
}

.fade {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.fade-in {
    opacity: 0;
}